@import "../config/config";

//按钮
.g-button {
    height: px2rem(40);
    // background: $g-highlight-color;
    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56ccf2, #2f80ed); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56ccf2, #2f80ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .g-button-icon {
        font-size: px2rem(20);
        margin: 0 px2rem(2);
    }
    .g-button-text {
        margin: 0 px2rem(2);
    }
    //取消
    &.g-button-cancel {
        background: $g-background-color-default;
    }
    //禁用
    &.g-button-disable {
        background: $g-background-color-disabled;
        color: $g-font-color-disabled;
        cursor: not-allowed;
    }
}
