<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
        <link rel="stylesheet" href="/fonts/iconfont.css">
        <link rel="stylesheet" href="/css/commons/common.css">
        <style>
            .title {
                font-size: 18px;
                line-height: 60px;
                text-align: center;
            }

            .gap {
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <div class="g-wrap">
            <% include ../commons/header.ejs %>
            <div class="g-body">
                <div class="title">hello world</div>
                <div class="gap">
                    <label class="g-input g-clear-fix">
                        <span>账号 : </span>
                        <span class="g-input-icon">S</span>
                        <input list="userList" type="tel" placeholder="格式 : 6666">
                        <datalist id="userList">
                            <option value="2113">
                            <option value="2559">
                            <option value="2896">
                            <option value="2995">
                        </datalist>
                        <span class="g-input-icon iconfont icon-qingkong js-clear"></span>
                        <span class="g-input-icon iconfont"></span>
                    </label>
                </div>
                <div class="gap">
                    <label class="g-input g-clear-fix">
                        <span>密码 : </span>
                        <span class="g-input-icon iconfont icon-mima"></span>
                        <input type="text" placeholder="默认 : Shopex123">
                        <span class="g-input-icon iconfont icon-qingkong js-clear"></span>
                        <span class="g-input-icon iconfont icon-zhengyan js-eyes"></span>
                    </label>
                </div>
                <div class="g-button">签到</div>
            </div>
            <% include ../commons/footer.ejs %>
        </div>
        <script>
            (function () {
                document.querySelectorAll('.js-clear').forEach(function (dom) {
                    dom.addEventListener('click', function () {
                        this.parentNode.querySelector('input').value = '';
                    });
                });
                document.querySelectorAll('.js-eyes').forEach(function (dom) {
                    dom.addEventListener('click', function () {
                        this.classList.toggle('icon-biyan');
                        this.classList.toggle('icon-zhengyan');
                        var input = this.parentNode.querySelector('input');
                        var type = input.type;
                        input.type = type === 'text' ? 'password' : 'number';
                    });
                });
            })();
        </script>
    </body>
</html>
